
extends layout
block content
   
   h1 Introducción de datos para Mysql
  
   form(id ="formuser", method="post", action="" )
    label(for="FullName") Full Name
    input(type="text", name="FullName", id="FullName")
    label(for="Alias") Alias
    input(type="text", name="Alias", id="Alias")
    label(for="email") Email
    input(type="text",name="email",id="email")
    input(type="submit", value="Enviar")

    